/* styles.css */
body {
    background-color: #005083 !important; /* Color de fondo */
}

/* Estilo para el texto del gráfico de barras */
#bar-chart-container .bar-chart-text {
    color: white !important; /* Color de texto blanco */
}

/* Estilo para la barra de count_by_selected_field */
.bar-chart-container .trace.count_by_selected_field rect {
    fill: red !important; /* Color de la barra rojo */
}

/* Definir un estilo para un borde de 1px sólido negro, un relleno de 10px y un margen izquierdo de 20px */
.s-resultado {
    
    color: aqua;
    padding: 1px;
    background-color: rgba(160, 160, 167, 0.4);
    margin-left: auto;
    display: flex;
    align-items: center;
    
}

.green-svg {
    filter: invert(84%) sepia(18%) saturate(5961%) hue-rotate(83deg) brightness(86%) contrast(85%);
    width: 50%;
    height: 50%;
}

